* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}

a {
    color: #59750c;
    text-decoration: none;
}

body {
    background-color: #2c2c17;
    padding: 10px;
    
    
}

        /* Header */

header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-seri;

}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .anh {
    color: #456105;
}
header h1 .an {
    color: #5e810a;
}

        /* Nav bar*/
header nav {
    padding-top: 15px;
    
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-seri;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

        /* Top image */
.avatar {
    
    border-style:groove;
     border-width: 5px; 
    height: 800px;
     width: 100%; 
    background-image: url("../images/ori.jpg");
     background-size: cover; 
     background-position: center; 
    
}

        /* Main content */
.content {
    background-color: #2b280ac2;
    
    width: 100%;
    
}
.content .myinfo {
    margin-top: 20px; 
    position: relative;
    margin-bottom: 20px;
    
    height: 1000px;
    font-family:Verdana, Geneva, Tahoma, sans-seri
    
    font-size: 50px;
}

        /* About Me */
.bio {
    
    color: antiquewhite;
    text-align:center;
    padding: 60px;
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-seri
    
}

        /* Link to connect */
#contact {
    font-size: large;
    display: flex;
    justify-content:space-around;
    position: fixed;
    bottom: 10px;
    width: 100%;
    border: 3px solid #314406;
    background-color: #1b1b0f;
    height: 40px;
    padding: 6px;
  
 }
 

        /* Skill section */
 .myskills {
     background-color: #2b280ac2;
     height: 1000px;
     width: 100%;
     display: inline-block;
     color: antiquewhite;
     text-align: center;
     font-size: 40px;
     
     
 }

 #skills {
    text-align: center;
    color: #314406); 
    padding: 30px;
    font-size: 40px;
    
}

#paraskil {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
}



.h3work {
    color: #314406;
    align-content: center;
    text-align: center;
    width: 100%;
    background-color: #1f1f03;
    font-size: 50px;
    padding: 30px;
   

}
        /* Portfolio */
#img {
    margin-top: 20px;
    font-size: 25px;
    color: antiquewhite;
    list-style-type: none;
    display: flex;
    padding-top: 60px;
    height: 800px;
    justify-content:space-around;
}
#P {
    width: 200px;
    
}

@media screen and (max-width: 1480px) {
    .avatar {
        
       
        background-image: url("../images/avatar_1.jpg");
        
    }
}

@media screen and (max-width: 1180px) {
    .avatar {
        
       
        background-image: url("../images/avatar_2.jpg");
      
    }
}

@media screen and (max-width: 980px) {
    .avatar {
        
       
        background-image: url("../images/avatar_3.jpg");
        
    }
}